@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background-color: rgb(186, 186, 186);
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.home-container h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
  margin-top: 1rem;
}
.home-container hr {
  border-top: 1px solid black;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.home-container .card-container {
  display: flex;
  justify-content: flex-start;
}

#contact {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
  margin-bottom: 3rem;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  width: 25rem;
  max-width: 400px;
  background-color: rgb(29, 29, 29);
  color: #fff;
  border: 1px solid white;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  padding: 5px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 20px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -21px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: rgb(0, 0, 0);
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: rgb(0, 0, 0);
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
.form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
@media screen and (max-width: 569px) {
  .direct-contact-container,
.form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control,
textarea {
    margin: 0 auto;
  }

  .name,
.email,
textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }

  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}
@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
.BF-Meals h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}
.BF-Meals hr {
  border-top: 1px solid black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Breakfast-Container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.Fast-card {
  width: 30rem;
  height: 66rem;
  padding: 20px;
  margin-top: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.Fast-card img {
  width: 90%;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.Fast-card h1 {
  text-align: center;
  font-size: 3rem;
}
.Fast-card hr {
  width: 100%;
  margin-left: none;
  margin-right: none;
}

.about-background {
  height: 65rem;
  width: 100%;
}
.about-background .about-content {
  position: relative;
  top: 7rem;
}
.about-background .title-about {
  text-align: center;
  font-size: 4rem;
  color: white;
}
.about-background .description-about {
  text-align: center;
  color: white;
}
.about-background .line {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: blue;
}
.about-background .about-mission {
  position: relative;
  top: 10rem;
  width: 70rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.about-background .about-mission .mission {
  width: 50%;
}
.about-background .about-mission .mission .title-mission {
  text-align: center;
  color: white;
  font-size: 2rem;
}
.about-background .about-mission .mission .description-mission {
  text-align: center;
  color: white;
}
.about-background .about-mission .img-about {
  width: 25rem;
  height: 18rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-background .about-goals {
  position: relative;
  top: 12rem;
  width: 70rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.about-background .about-goals .goal {
  width: 50%;
}
.about-background .about-goals .goal .title-goal {
  text-align: center;
  color: white;
  font-size: 2rem;
}
.about-background .about-goals .goal .description-goal {
  text-align: center;
  color: white;
}
.about-background .about-goals .img-goal {
  width: 25rem;
  height: 18rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-background .vid-holder {
  max-height: 20rem;
  display: flex;
  justify-content: center;
  position: relative;
  top: 8rem;
}
.about-background .vid-holder .video {
  height: 20rem;
  width: 30rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

* {
  margin: 0px;
  padding: 0px;
}

#nav_bar {
  background-color: #272727;
  box-shadow: 0px 2px 10px;
  height: 45px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-bottom: 2px white solid;
}

#nav_bar > ul > li {
  display: inline-block;
}

#nav_bar ul > li > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 45px;
}

#nav_bar ul li ul {
  display: none;
  list-style: none;
  position: absolute;
  background: #e2e2e2;
  box-shadow: 0px 2px 10px;
  text-align: left;
}

#nav_bar ul li a:hover {
  font-size: 1.5rem;
}

#nav_bar a:active {
  color: black;
}

#nav_bar ul li:hover ul {
  display: block;
}

#nav_bar ul li ul li a {
  color: #252525;
  display: block;
}

#nav_bar ul li ul li a:hover {
  background: #f54444;
  color: #fff;
}

.banner-container img {
  width: 100%;
  height: 30rem;
  border-bottom: white solid 2px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

.card {
  float: left;
  padding: 0 1.7rem;
  width: 50%;
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: "";
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: "Open Sans";
  transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
}
.card input[type=checkbox] {
  display: none;
}
.card input[type=checkbox]:checked + .menu-content {
  transform: translateY(-60px);
}

.breakfast .wrapper {
  background: url(https://www.deliciousmagazine.co.uk/wp-content/uploads/2018/11/cooked-brekfast.jpg) center/cover no-repeat;
}
.breakfast .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.breakfast .header {
  color: #fff;
  padding: 1em;
}
.breakfast .header::before, .breakfast .header::after {
  content: "";
  display: table;
}
.breakfast .header::after {
  clear: both;
}
.breakfast .header .date {
  float: left;
  font-size: 12px;
}
.breakfast .menu-content {
  float: right;
}
.breakfast .menu-content li {
  margin: 0 5px;
  position: relative;
}
.breakfast .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.breakfast .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}
.breakfast .title {
  font-size: 2rem;
}
.breakfast .title a {
  color: #fff;
}
.breakfast .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.breakfast .button::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.breakfast .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

.card {
  float: left;
  padding: 0 1.7rem;
  width: 50%;
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: "";
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: "Open Sans";
  transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
}
.card input[type=checkbox] {
  display: none;
}
.card input[type=checkbox]:checked + .menu-content {
  transform: translateY(-60px);
}

.dinner .wrapper {
  background: url(https://www.acouplecooks.com/wp-content/uploads/2021/03/Cheese-Tortellini-011.jpg) center/cover no-repeat;
}
.dinner .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.dinner .header {
  color: #fff;
  padding: 1em;
}
.dinner .header::before, .dinner .header::after {
  content: "";
  display: table;
}
.dinner .header::after {
  clear: both;
}
.dinner .header .date {
  float: left;
  font-size: 12px;
}
.dinner .menu-content {
  float: right;
}
.dinner .menu-content li {
  margin: 0 5px;
  position: relative;
}
.dinner .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.dinner .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}
.dinner .title {
  font-size: 2rem;
}
.dinner .title a {
  color: #fff;
}
.dinner .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.dinner .button::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.dinner .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

.card {
  float: left;
  padding: 0 1.7rem;
  width: 50%;
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: "";
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: "Open Sans";
  transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
}
.card input[type=checkbox] {
  display: none;
}
.card input[type=checkbox]:checked + .menu-content {
  transform: translateY(-60px);
}

.lunch .wrapper {
  background-color: hsla(0deg, 0%, 0%, 0.7);
  background: url(https://simply-delicious-food.com/wp-content/uploads/2018/07/mexican-lunch-bowls-3.jpg) center/cover no-repeat;
}
.lunch .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.lunch .header {
  color: #fff;
  padding: 1em;
}
.lunch .header::before, .lunch .header::after {
  content: "";
  display: table;
}
.lunch .header::after {
  clear: both;
}
.lunch .header .date {
  float: left;
  font-size: 12px;
}
.lunch .menu-content {
  float: right;
}
.lunch .menu-content li {
  margin: 0 5px;
  position: relative;
}
.lunch .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.lunch .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}
.lunch .title {
  font-size: 2rem;
}
.lunch .title a {
  color: #fff;
}
.lunch .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.lunch .button::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.lunch .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

.footer {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 100%;
  height: 12rem;
  background-color: rgb(25, 25, 25);
  border-top: 1px solid white;
  margin-top: 2rem;
}

.footerHolder {
  margin-left: 0rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.FootCon {
  color: white;
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
}

.FootCon1 {
  color: white;
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
}

.FootSoc {
  font-size: 1rem;
  font-family: Batman;
  color: white;
  text-align: center;
}

.FootSocial1 {
  font-size: 1rem;
  font-family: Batman;
  color: white;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
}

.FootLinks {
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  color: white;
}

.FootNav1 {
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
  color: white;
}

.footerIMG {
  width: 80%;
  height: 20rem;
  border-radius: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.FootLinks:hover {
  font-size: 1.3rem;
}

.FootSoc:hover {
  font-size: 1.3rem;
}

.FootCon:hover {
  font-size: 1.2rem;
}

.FootLinks:active {
  color: yellow;
}

.FootSoc:active {
  color: yellow;
}

.FootCon:active {
  color: yellow;
}

.linky {
  color: white;
}/*# sourceMappingURL=index.css.map */